body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*:focus {
  outline: none;
  border-bottom: 1px dotted rgba(129, 179, 210, 0.8);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -10px 20px 10px #b8b8b8;
}

.navigation {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.wrapper-navigation {
  width: 1054px;
  margin: 0 73px;
}

.form-date,
.counter,
.counters,
.filters-hotels-infrastructure,
.filters-hotels-housing {
  border: none;
}

.navigation-list,
.reasons-list,
.footer-social,
.recommendation-list,
.filter-list,
.filters-sort-list,
.result-list {
  list-style: none;
}

.navigation-link,
.navigation-link:visited {
  color: rgb(0, 0, 0);
}

.navigation-link:hover {
  color: rgb(129, 179, 210);
}

.navigation-link:active {
  color: rgba(0, 0, 0, 0.302);
}

.navigation-list .navigation-link-active {
  color: rgb(118, 99, 87);
}

.navigation-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 56px; /*для центрирования в IE по вертикали*/
  min-height: 56px;
  list-style: none;
}

.navigation-list li {
  min-width: 100px;
}

.navigation-list li:first-child,
.navigation-list li:nth-child(2) {
  text-align: left;
}

.navigation-list li:nth-child(2) {
  margin-right: 230px;
}

.navigation-list li:last-child,
.navigation-list li:nth-last-child(2) {
  text-align: right;
}

.logo-up {
  position: absolute;
  top: 0;
  transform: translate(0);
  z-index: 1;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.main-billboard {
  display: flex;
  position: relative;
  height: 509px;
  margin-bottom: 63px;
  background-color: #81b3d2;
  background-image: url(../img/main-banner.jpg);
}

.main-billboard:after {
  position: absolute;
  content: "";
  z-index: 1;
  top: 452px;
  left: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/origami.png");
}

.group-inscriptions {
  margin: auto;
  margin-top: 76px;
}

.reasons-title {
  margin-bottom: 58px;
}

.reasons-title h2 {
  margin: 0 auto;
  margin-bottom: 32px;
}

.reasons-title p {
  color: #333333;
}

.reasons-list li:first-child {
  order: -2
}

.reasons h2 {
  width: 450px;
}

.reasons h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}

.reasons-item-banner p {
  margin: 0 auto;
  width: 310px;
  line-height: 1.3;
}

.reasons-item p {
  margin: 0 auto;
  width: 280px;
  line-height: 1.4;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.reasons-list > li {
  height: 256px;
  background-color: #eeeeee;
}

.reasons-item-banner {
  display: flex;
  margin-bottom: 36px;
  color: #ffffff;
}

.reasons-item-banner.reverse {
  flex-direction: row-reverse;
  margin: 0;
  margin-top: 36px;
}

.reasons-item h3 {
  width: 158px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 23px;
  line-height: 1.0;
}

.reasons-text {
  flex-grow: 1;
  width: 400px;
  overflow: auto;
  background-color: #81b3d2;
}

.reasons-text h3 {
  width: 180px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 21px;
  line-height: 1.1;
}

.reasons-img {
  flex-grow: 2;
  background-size: 800px 256px;
  background-color: #c4c4c4;
}

li.recommendation {
  order: -1;
  background-color: #ffffff;
}

.recommendation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 330px;
}

.recommendation-list p {
  margin: 0 auto;
  width: 290px;
  line-height: 1.3;
}

.reasons-item,
.recommendation-item {
  width: 400px;
}

.recommendation-item h3 {
  margin: 23px 0;
}

.invitation-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  min-height: 290px;
}

.invitation-header h2 {
  margin: 0;
  margin-top: 53px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
}

.invitation-header p {
  margin: 0;
  width: 440px;
  align-self: center;
  line-height: 1.7;
}

/*=============================*/
/*==Модальное окно==*/
/*=============================*/

.invitation-modal {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -285px;
  bottom: 0;
  overflow: hidden;
  width: 570px;
  height: 0;
  transition: bottom ease-in-out 0.5s, height ease-in-out 0.5s;
  background: #ffffff;
  color: #000000;
}

.invitation-modal-show {
  bottom: -395px;
  height: 395px;
}

.invitation-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin: 55px;
  width: 458px;
  min-height: 295px;
  font-weight: 700;
}

.form-date {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
  font-size: 0;
  font-weight: 700;
  text-align: left;
}

.invitation-form .form-label {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 115px;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
}

.form-input {
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.form-input-date {
  width: 343px;
  padding-right: 38px;
}

.form-input:hover {
  background: #ebebeb;
  border-color: #ebebeb;
}

.form-input:focus {
  background: #fff;
  border-color: #e5e5e5;
}

.icon-calendar {
  position: absolute;
  right: 8px;
  top: 9px;
  color: rgba(0, 0, 0, 0.302);
}

.icon-calendar-svg,
.icon-sorting-svg {
  fill: currentcolor;
}

.icon-calendar:hover {
  color: rgb(0, 0, 0);
}

.icon-calendar:active {
  color: rgb(129, 179, 210);
}

.icon-count,
.form-input-counter {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  text-align: center;
}

.icon-plus {
  font-size: 28px;
  font-weight: 600;
}

.icon-minus {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 2px;
  font-size: 28px;
  font-weight: 700;
}

.icon-count:hover {
  color: rgb(0, 0, 0);
}

.icon-count:active {
  color: rgb(129, 179, 210);
}

.counter {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.counter button {
  vertical-align: top;
  border: none;
  color: #a9a9a9;
  background: #f2f2f2;
}

.counter .form-label[for='counter-children'] {
  width: 65px;
  margin-left: 50px;
}

.invitation-form .button-find {
  width: 458px;
  height: 58px;
  margin-top: 24px;
  font-size: 21px;
  line-height: 1.0;
  background-color: #81b3d2;
}

/*=============================*/
/*== END Модальное окно==*/
/*=============================*/

.filters-sort-link {
  font-size: 12px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted #81b3d2;
}

.filters-sort-link:hover {
  border-bottom: 1px dotted #81b3d2;
  color: rgb(129, 179, 210);
}

.filters-sort-link:focus {
  border-bottom: none;
  color: rgb(0, 0, 0);
}

.filters-sort-link-active:active {
  border-bottom: none;
  color: rgb(129, 179, 210);
}

.hotels-name {
  font-size: 21px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.hotels-name:hover {
  color: rgb(129, 179, 210);
}

.hotels-name:active {
  color: rgba(0, 0, 0, 0.302);
}

.housing:before,
.food:before,
.gifts:before {
  content: "";
  display: block;
  position: relative;
  left: 165px;
  width: 76px;
  height: 76px;
  margin-bottom: 26px;
}

.housing:before {
  background: url("../img/housing-icon.png") no-repeat;
}

.food:before {
  background: url("../img/food-icon.png") no-repeat;
}

.gifts:before {
  background: url("../img/gift-icon.png") no-repeat;
}

.number {
  display: block;
  margin-bottom: 25px;
}

.number::before {
  content: "";
  display: block;
  position: relative;
  top: 9px;
  left: 174px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.number::after {
  content: "";
  display: block;
  position: relative;
  top: -9px;
  left: 217px;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.numbers {
  display: block;
  margin-bottom: 25px;
}

.numbers::before {
  content: "";
  display: block;
  position: relative;
  top: 9px;
  left: 174px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.numbers::after {
  content: "";
  display: block;
  position: relative;
  top: -9px;
  left: 217px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

/*=====================================*/
/*==Списки: инфраструктура, тип жилья==*/
/*=====================================*/

.filters-hotels-wrapper {
  display: flex;
  margin-top: 0;
  width: 100%;
  min-height: 217px;
  background-image: url("../img/hotels-banner.jpg");
  background-color: #81b3d2;
  color: #ffffff;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filters-hotels-infrastructure {
  display: block;
  width: 150px;
  margin-top: 28px;
  margin-left: 73px;
  padding: 0;
  text-align: left;
}

.filters-hotels-housing {
  display: block;
  width: 150px;
  margin-top: 27px;
  margin-left: 103px;
  padding: 0;
  text-align: left;
}

.filters-hotels legend {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 30px;
}

.filter-option:first-child {
  margin-top: 25px;
}

.form-label {
  position: relative;
  padding-left: 40px;
}

input[type="checkbox"] + .form-label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked + .form-label:before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled + .form-label:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: -2px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
}

input[type="checkbox"]:checked + .form-label:after {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
}

input[type="checkbox"]:focus + .form-label {
  border-bottom: 1px dotted #f2f2f2;
}

.sort-list {
  display: flex;
}

.filters-result {
  display: flex;
  position: relative;
  min-height: 86px;
}

.filters-result h3 {
  font-size: 21px;
  line-height: 1.0;
}

.filters-result h3.filters-sort {
  padding-top: 5px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.sorting {
  position: absolute;
  width: 11px;
  height: 10px;
  font-size: 0;
  color: rgba(0, 0, 0, 0.302);
}

.sorting-active {
  box-shadow: none;
  color: rgb(129, 179, 210);
}

.sorting:hover {
  color: rgb(0, 0, 0);
}

.sorting:active {
  box-shadow: none;
  color: rgb(129, 179, 210);
}

.sorting:focus {
  outline: none;
  color: rgb(129, 179, 210);
}

.icon-sorting-svg {
  fill: currentcolor;
}

.sort-up {
  position: absolute;
  top: 39px;
  left: 1092px;
}

.sort-down {
  position: absolute;
  top: 39px;
  left: 1114px;
}

.result-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.result-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 73px;
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.result-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.result-item img {
  order: -1;
}

.result-item p {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 5px;
}

.result-item span {
  color: #333333;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-height: 90px;
  margin-left: 30px;
  text-align: left;
}

.result-wrapper h3 {
  margin: 0;
  margin-top: -5px;
}

.result-image {
  width: 135px;
  height: 90px;
}

.hotels-type {
  min-width: 116px;
}

.result-wrapper .wrapper-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 258px;
}

.button {
  display: inline-block;
  vertical-align: top;
  border: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.button-detailed {
  outline: none;
  width: 110px;
  min-height: 27px;
  line-height: 27px;
  background-color: #81b3d2;
}

.button-reservation {
  width: 140px;
  min-height: 27px;
  margin-right: 2px;
  background-color: #766357;
  font-family: "PT Sans", Arial sans-serif;
}

.button-reservation:hover,
.button-invitation:hover {
  background-color: #604e43;
}

.button-reservation:active,
.button-invitation:active {
  color: #928a85;
  background-color: #503e33;
}

.button-invitation {
  align-self: center;
  width: 570px;
  height: 85px;
  margin-top: 46px;
  font-size: 21px;
  line-height: 3.0;
  background-color: #766357;
}

.button-invitation:focus {
  outline: none;
  color: #928a85;
  background-color: #503e33;
  box-shadow: 0 0 2px 2px rgba(101, 88, 71, 0.98);
}

.button-invitation:active {
  box-shadow: none;
}

.button-detailed:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(129, 179, 210, 0.8);
}

.button-reservation:focus {
  outline: none;
  box-shadow: 0 0 2px 2px rgba(101, 88, 71, 0.98);
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
  margin-left: auto;
}

.rating-stars {
  width: 0;
  height: 20px;
  margin-right: -6px;
  background-image: url("../img/star_bg.png");
  background-repeat: repeat-x;
}

.rating-stars[data-rating="1"] {
  width: 24px;
}

.rating-stars[data-rating="2"] {
  width: 48px;
}

.rating-stars[data-rating="3"] {
  width: 72px;
}

.rating-stars[data-rating="4"] {
  width: 96px;
}

.rating-stars[data-rating="5"] {
  width: 120px;
}

.rating-volume {
  width: 110px;
  height: 27px;
  line-height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}

.filters-found {
  margin-left: 73px;
  margin-top: 30px;
}

.filters-sort {
  margin-left: 50px;
  margin-top: 30px;
}

.filters-sort-list {
  display: flex;
  padding-left: 38px;
  margin-top: 35px;
}

.filters-sort-list li {
  margin-right: 30px;
}

/*==========================================*/
/*== END Списки: инфраструктура, тип жилья==*/
/*==========================================*/

/*=====================*/
/*==Стоимость в сутки==*/
/*=====================*/

.filters-hotels-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 318px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: 73px;
  color: #ffffff;
  text-transform: uppercase;
}

h3.filter-range-title {
  margin-bottom: 11px;
  margin-top: 3px;
  padding-left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 314px;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
  line-height: 2.0;

}

.price-controls .min-price,
.price-controls .max-price {
  padding-top: 19px;
  width: 90px;
  height: 45px; /*для верного отображения в IE*/
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  margin-right: 12px;
}

.price-controls input {
  width: 50px;
  padding: 0; /*для верного отображения в IE*/
  padding-bottom: 7px; /*для верного отображения в IE*/
  margin-right: 15px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  width: 318px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 255px;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  top: -11px;
  width: 5px;
  height: 5px;
  background: #ababab;
  border: 10px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 93px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-transparent:focus {
  outline: none;
  color: #000000;
  background: #ffffff;
  box-shadow: none;
}

/*==========================*/
/*== END Стоимость в сутки==*/
/*==========================*/

.map {
  background-image: url("../img/map.jpg");
}

/*===========*/
/*== Футер ==*/
/*===========*/

iframe {
  border: 0px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  min-height: 120px;
  height: 120px; /*для центрирования в IE по вертикали*/
}

.footer-social,
.footer-logo,
.footer-copyright {
  width: 33%;
  justify-content: center;
}

.footer-logo {
  padding-bottom: 15px;
  padding-left: 2px;
  font-size: 21px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  padding: 0;
  padding-bottom: 12px;
  padding-right: 6px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.button-social:hover,
.button-find:hover,
.button-detailed:hover {
  background-color: #669ec0;
}

.button-social:active path,
.button-find:active,
.button-detailed:active {
  fill: #88b6d1;
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-social .button-social:active {
  box-shadow: none;
}

.footer-copyright span {
  margin-right: 4px;
  margin-bottom: 3px;
}

.footer-copyright a:hover path {
  fill: rgb(129, 179, 210);
}

.footer-copyright a:active path {
  fill: rgba(0, 0, 0, 0.302);
}

/*===============*/
/*== END Футер ==*/
/*===============*/